@import '../../../../assets/style/common.scss';

.loading {

  .loading_background, .loading_logo, .loading_spinner {
    position: absolute;
    @extend %position-center;
  }

  .loading_spinner {
    animation: spinning 1s linear infinite;
  }

  @keyframes spinning {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
}